@font-face {
    font-family: literata;
    src: url('../assets/static/Literata-Bold.ttf');
  }
  @font-face {
    font-family: literatalight;
    src: url('../assets/static/Literata-Regular.ttf');
  }
  @font-face {
    font-family: literatalightest;
    src: url('../assets/static/Literata-Medium.ttf');
  }
#root{
}
.titly{
    font-family: literatalightest;
}
.titl{
    font-family: literatalightest;
}
.content{
    font-family: literatalight;
}

.tag-contain{
    padding: 10px;
}
.tag{
    padding-left: 5px;
    padding-right: 5px;
}
.section {
    background-color: rgba(238, 238, 238, 0);
    padding-top: 0px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1.6em;
}

.card {
    width: 275px;
    height: max-content;
    padding: 0px;
    border: 1px solid rgba(0, 0, 0, 0.0);
    box-shadow: none;
}

.card-content {
    padding: 5px;
}


.media-content {
    padding: 0px;
    margin: 0px;
}

.titly {
    padding: 0px;
    margin: 0px;
}
.footer{
    background-color: #000211;
   }
@media (max-width: 450px) {
    .tags{
        
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    .tag{
        flex: 0 0 auto;
    }
    .card{
        width: auto;
    }
  }

  @media (max-width: 850px)
  {
    .card{
        width: auto;
    }
  }
  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }