.shadow-remove {
    background-color: rgba(0, 0, 0, 0.0);
    z-index: 1;
    box-shadow: 0 0 0 0;
    z-index: 11;
  }

  .hero1 {
    background: url(../assets/hero_image.svg);
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .grey-sec{
    background-color:#f2f2f2;
  }
  .column-reverse{
  flex-direction: row-reverse;
  }
  .custom-modal{
    border-radius: 5px;
    background-color:#1496ED;
    width: 400px;
  }
  #tab-content p {
    display: none;
  }
  .v{
    width: 400px;
  }
  
  #tab-content p.is-active {
    display: block;
  }
 .footer{
  background-color: #000211;
 }