
[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.shadow-remove {
    background-color: rgba(0, 0, 0, 0.0);
    z-index: 1;
    box-shadow: 0 0 0 0;
    z-index: 11;
  }

  .hero1 {
    background: url(../assets/hero_image.svg);
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .grey-sec{
    background-color:#f2f2f2;
  }
  .column-reverse{
  flex-direction: row-reverse;
  }
  .custom-modal{
    border-radius: 5px;
    padding-bottom: 0;
  }
  #tab-content p {
    display: none;
  }
  .v{
    width: 400px;
  }
  .tab{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  }
  

  #tab-content p.is-active {
    display: block;
  }
 .footer{
  background-color: #000211;
 }